.vehical-main-heading {
    text-align: center;
    color: white;
    font-size: 50px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .sub-vehicle{
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 82, 82);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-style: solid;
    border-bottom-width: 2.66667px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px, rgba(0, 0, 0, 0.3) 0px 5px 5px -3px;
    box-sizing: border-box;
    position: relative;
    text-decoration-color: rgb(0, 98, 201);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    transition-delay: 0s, 0s;
    transition-duration: 0.25s, 0.25s;
    transition-property: box-shadow, box-shadow;
    transition-timing-function: ease, ease;
    user-select: none;
    width: 400px;
  
    height: max-content;
    padding: 25px;
    margin: auto;
    margin-top: -50px;
    }
    ​
    .sub-vehicle ul li  {
        margin-top: 10px;
        list-style: disc;
        
    }
    
    .card{
      width: 100%;
      height:max-content;
      padding: 20px;
    }
    
    
    .featurs ul li{
      border-bottom: 1px solid silver;
      margin-top: 10px;
      list-style: disc;
      box-shadow: 1px 1px 3px lightgray;
      padding: 8px;
      border-radius: 5px;
      font-size: 14px;
    }
    
    
    
    
    
    
    
    
    